<mat-toolbar color="primary">
  <span>budgt</span>

  <div class="navigation-list"><button routerLink="category-list" mat-button color="accent">Categories</button></div>
  <span class="fill-remaining-space"></span>

  <button *ngIf="!authService.isLoggedIn()" routerLink="/login" mat-flat-button color="accent">
    <span class="fa fa-sign-in"></span> Login
  </button>

  <button *ngIf="authService.isLoggedIn()" (click)="authService.logout()" mat-flat-button color="accent">
    <span class="fa fa-sign-out"></span> Logout
  </button>

  <button *ngIf="!authService.isLoggedIn()" routerLink="/register" mat-stroked-button color="accent">
    <span class="fa fa-user"></span> Sign Up
  </button>
</mat-toolbar>
