<div [hidden]="!category.id"><h1 mat-dialog-title>Edit category</h1></div>
<div [hidden]="category.id"><h1 mat-dialog-title>Create category</h1></div>
<div mat-dialog-content>
  <form name="editForm" role="form" novalidate #editForm="ngForm">
    <mat-form-field>
      <input matInput [(ngModel)]="category.name" placeholder="Category name" name="name" id="field_name" required />
    </mat-form-field>

    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
      <small class="form-text text-danger" [hidden]="!editForm.controls.bame?.errors?.required" jhiTranslate="entity.validation.required">
        This field is required.
      </small>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="clear()">No Thanks</button>
  <button mat-button (click)="save()" [mat-dialog-close]="category" cdkFocusInitial>Ok</button>
</div>
