#################
## Frontend
#################

# compiled output
frontend/dist
frontend/dist-server
frontend/tmp
frontend/out-tsc

# dependencies
frontend/node_modules

# reports
frontend/build/reports

#local nginx conf
frontend/build/deploy/conf/nginx.conf

#################
## Backend
#################

# java
bin/
.gradle
gradle
build/
!frontend/build

#reports
backend/category-service/build/reports
backend/config-server/build/reports


#################
## Misc
#################

# IDEs and editors
/.idea
budget.ipr
budget.iws
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
