.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.navigation-list {
  margin-left: 30px;
}

button {
  margin-left: 8px;
}

a:hover {
  text-decoration: none;
}
