<h1 mat-dialog-title>Create or edit subcategory</h1>
<div mat-dialog-content>
  <form name="editForm" role="form" novalidate #editForm="ngForm">
    <div [hidden]="!subcategory.id">
      <input matInput type="text" placeholder="Subcategory ID" id="id" name="id" [(ngModel)]="subcategory.id" readonly />
    </div>

    <mat-form-field>
      <input matInput [(ngModel)]="subcategory.name" placeholder="Subcategory name" name="name" id="field_name" required />
    </mat-form-field>

    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
      <small class="form-text text-danger" [hidden]="!editForm.controls.bame?.errors?.required" jhiTranslate="entity.validation.required">
        This field is required.
      </small>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="clear()">Cancel</button>
  <button mat-button (click)="save()" [mat-dialog-close]="subcategory" cdkFocusInitial>Save</button>
</div>
