#category-list-container {
  width: 400px;
}

.left-margin {
  margin-left: 8px;
}

#subcategory-buttons {
  margin-left: auto;
}

.button {
  cursor: pointer;
}

#add-category-button {
  margin: auto;
}

.loadingIndicatorContainer {
  width: 400px;
  height: 120px;
}

#progress-spinner {
  margin: auto;
}
