#category-list-container {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
}

#category-list-accorion {
  max-width: 440px;
  margin-top: 20px;
}

.left-margin {
  margin-left: 8px;
}

#subcategory-buttons {
  margin-left: auto;
}

.button {
  cursor: pointer;
}

#add-category-button {
  margin: auto;
}

.loadingIndicatorContainer {
  width: 440px;
  height: 120px;
}

#progress-spinner {
  margin: auto;
}
