<div id="category-list-container">
  <mat-accordion id="category-list-accordion">
    <div class="loadingIndicatorContainer" *ngIf="loaderService.isLoading()">
      <mat-progress-spinner id="progress-spinner" mode="indeterminate"> </mat-progress-spinner>
    </div>
    <mat-expansion-panel id="category-list" *ngFor="let category of categoryService.categories">
      <mat-expansion-panel-header (click)="selectCategory(category)"> {{ category.name }} </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let subcategory of category.subcategories">
          {{ subcategory.name }}
          <div id="subcategory-buttons">
            <span
              [routerLink]="['/', { outlets: { popup: ['subcategory-dialog', 'edit', subcategory.id] } }]"
              replaceUrl="true"
              class="fa fa-edit left-margin button"
            ></span>
            <span (click)="deleteSubcategory(subcategory)" class="fa fa-times left-margin button"></span>
          </div>
        </mat-list-item>
        <mat-action-row>
          <button
            mat-flat-button
            class="left-margin"
            [routerLink]="['/', { outlets: { popup: ['subcategory-dialog', 'create'] } }]"
            replaceUrl="true"
          >
            Add subcateogry
          </button>
          <button mat-flat-button [routerLink]="['/', { outlets: { popup: ['category-dialog', 'edit', category.id] } }]" replaceUrl="true">
            Edit category
          </button>
          <button mat-flat-button (click)="deleteCategory(category)" color="warn" class="left-margin">Delete Category</button>
        </mat-action-row>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel disabled>
      <mat-expansion-panel-header>
        <button
          mat-flat-button
          id="add-category-button"
          type="submit"
          [routerLink]="['/', { outlets: { popup: ['category-dialog', 'create'] } }]"
          replaceUrl="true"
          queryParamsHandling="merge"
          color="accent"
        >
          Add category
        </button>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
