

<mat-accordion>
  <mat-expansion-panel *ngFor="let category of categories">
    <mat-expansion-panel-header (click)="selectCategory(category)">
      {{ category.name }}
      <span (click)="deleteCategory(category)" class="fa fa-times deleteCateogry float-right"></span>
    </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let subcategory of category.subcategories">
          {{ subcategory.name }}
          <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button class="btn btn-sm btn-outline-warning">Edit
              <span class="fa fa-edit"></span>
            </button>
            <button (click)="deleteSubcategory(subcategory)" class="btn btn-sm btn-outline-danger">Delete
              <span class="fa fa-times"></span>
            </button>
          </div>
        </mat-list-item>
        <mat-action-row>
          <button mat-flat-button type="button" >Add subcateogry</button>
        </mat-action-row>
      </mat-list>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <button mat-flat-button	 type="submit" [routerLink]="['/', { outlets: { popup: ['category-new'] } }]" replaceUrl="true"
              queryParamsHandling="merge" color="accent">
        <span class="fa fa-plus"></span>
      </button>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
