<mat-accordion>
  <mat-expansion-panel id="category-list" *ngFor="let category of categories">
    <mat-expansion-panel-header (click)="selectCategory(category)">
      {{ category.name }}
    </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let subcategory of category.subcategories">
          {{ subcategory.name }}
          <div id="subcategory-buttons">
              <span class="fa fa-edit left-margin button"></span>
              <span (click)="deleteSubcategory(subcategory)" class="fa fa-times left-margin button"></span>
          </div>
        </mat-list-item>
        <mat-action-row>
          <button (click)="deleteCategory(category)" mat-flat-button color="warn" class="left-margin">Delete Category</button>
          <button mat-flat-button class="left-margin">Add subcateogry</button>
        </mat-action-row>
      </mat-list>

  </mat-expansion-panel>
  <mat-expansion-panel disabled>
    <mat-expansion-panel-header>
      <button mat-flat-button	id="add-category-button" type="submit" [routerLink]="['/', { outlets: { popup: ['category-new'] } }]" replaceUrl="true"
              queryParamsHandling="merge" color="accent">
        Add category
      </button>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
